<div class="box">
  <!-- <h2>Log In </h2> -->
  <div style="text-align: center; margin-bottom: 26px;"> 
    <img src="../../../assets/img/logo.png" width="157px"
      height="99px">
    <!-- icon: 'nc-lock-circle-open' -->
  </div>

  <form>
    <div class="inputbox">
      <input name="email" [(ngModel)]="Email" type="text" required="">
      <label>Email</label>
    </div>

    <div class="inputbox">
      <input name="password" [(ngModel)]="Password" type="password" required="">
      <label>Password</label>
    </div>
    <div style="text-align: center;">
      <input class="submit" type="submit" value="Log In" (click)="AdminLogin() ">
    </div>

  </form>
  <div *ngIf="IsValid" class="alert alert-danger" style="background-color: #c23636 !important; text-align: center !important;" >
    Invalid Email or Password
  </div>
</div>