<div class="container">
    <div class="choose">
    <h2 class="text-center MainHeader" style="color: #61892f; font-size: 28px;">{{course.Name}}</h2>
    <div class="col-6 ml-0">
    <a routerLink="/profile" ><i class="fas fa-arrow-left  mr-2 mr-0" style="color: #61892f; font-size: 20px; font-weight: bold;  "  ></i></a>

    <label class="checking">Please Check If you finished
      This
      course</label>
  <input [disabled]="course.IsFinshed"
      [checked]="course.IsFinshed" type="checkbox"
      id="{{course.ID}}" name="subscribe"
      value="newsletter" style="margin-left: 5px;"
      
      mwlConfirmationPopover
      [popoverTitle]="popoverTitle" 
      [popoverMessage]="popoverMessage"
     placement="right" (confirm)="Finished()"
      (cancel)="cancelClicked = true" >
    </div>

      <div class="row" style="margin-left: 0; margin-right: 0; height: 266px;">
        <div class="col-3" style="padding: 0; height: 100%;">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Description</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Documents</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Links</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Videos</a>
          </div>
        </div>
        <div class="col-9" style="padding: 28px; height: 89%; background-color:#F2F2F2 ;overflow:auto;">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <h5 class="StyleHead"> {{course.Name}}</h5> 
              
           
              <p class="styleParagraph"> {{course.Discription}}</p>
  
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <div *ngFor="let doc of course.Documents">
                <h5 class="StyleHead"> {{doc.File}} <a (click)="downloadFile(doc.File)"> <i class="fa fa-download"
                      aria-hidden="true"> </i></a></h5>
                <p class="styleParagraph">{{doc.Description}}</p>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <div *ngFor="let link of course.Links">
                <p class="styleParagraph">{{link.Description}}</p>
                <h3 class="StyleHead"> <a href="{{link.Link}}" target="_blank">{{link.Link}}</a>  </h3>
               
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div *ngFor="let vedio of course.Vedios">
                <h5 class="StyleHead"> {{vedio.Vedio}}</h5>
                <p class="styleParagraph"><a href="{{vedio.Description}}" target="_blank">{{vedio.Description}}</a></p>
            </div>
            </div>
          </div>
        </div>
      </div>
       
    </div>
  </div>