<div class="row">
    <div class="col-md-12">
      <div class="card card-user">
       
        <div class="card-body">
          <div class="author">
           
              <img class="avatar border-gray" src="assets/img/uc.jpg" alt="...">
              <h5 class="title">{{User.Name}}</h5>
              <!-- <p class="card-text" [(ngModel)]="address"></p> -->
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" >{{User.Age}}</li>
              <li class="list-group-item">{{User.Adress}}</li>
              <li class="list-group-item" >{{User.Education}}</li>
              <li class="list-group-item">{{User.Phone}}</li>
              <li class="list-group-item" >{{User.Email}}</li>
              <li class="list-group-item">{{User.Adress}}</li>
             
             
          
              
              
             
            </ul>
           
          </div>

        <div class="accordion" id="accordionExample">

            <div *ngFor="let Track of User.Tracks" class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{Track.TrackName}}
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="progress">
                 
                    <div class="progress-bar" role="progressbar" [style.width.%]="Track.Progress"  [attr.aria-valuenow] ="Track.Progress" aria-valuemin="0" aria-valuemax="100">{{Track.Progress}}%</div>
                  </div>
                 

          
                  <table class="table w-100">
                   
                    <tbody >
                      <tr style="width: 100%;">
                        <td>CuurentCourse</td>
                        <td >
                          {{Track.CuurentCourse}}
                        </td>
                      </tr>

                      <tr scope="col">
                      <td>FinshedCourses</td>
                      <td *ngFor = "let Course of Track.FinshedCourses">
                        {{Course}}
                      </td>
                    </tr>
                      

                    <tr scope="col">
                      <td>FutureCourses</td>
                      <td *ngFor = "let Course of Track.FutureCourses">
                        {{Course}}
                      </td>
                    
                      
                    </tr>
                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            

          </div> 
          
       
      </div>
      </div>
      </div>







