<!--manage category-->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Choose Level</h3>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <select (change)="GetData()" [(ngModel)]="Level" class="custom-select" id="inputGroupSelect04"
          aria-label="Example select with button addon">
          <option *ngFor="let Level of Levels" [ngValue]="Level.id" selected>{{Level.name}} </option>

        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Choose</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <form>
        <label for="cars">show</label>
        <select (change)="GetData()" name="Numbers" [(ngModel)]="PageSize">
          <option *ngFor="let show of shows" [ngValue]="show">{{show}}</option>

        </select>
      </form>
    </div>


    <div class="col-lg-6">
      <form>
        <input name="searchText" [(ngModel)]="searchText" [formControl]="CategoryFormControl" type="text"
          class="form-control by" id="inputusername" placeholder="Search By..">
        <select name="SearchOption" [(ngModel)]="searchOption" class="custom-select selection" id="inputGroupSelect04"
          aria-label="Example select with button addon">
          <option value="0">Select Search Option</option>
          <option *ngFor="let option of SearcheOptions" [ngValue]="option.id" selected>{{option.name}} </option>

        </select>
        <button (click)="GetData()" type="submit" class="btn btn-default float-center search">Search</button>

      </form>

    </div>







    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            <a (click)="SortBYNameAsc()"> <i id="Asc" style="  font-size: 20px;   " class="fas fa-caret-up mr-1"></i></a>
              <a (click)="SortBYNameDesc()"><i id="desc" style="font-size: 20px; " class="fas fa-caret-down mr-1"></i></a>Name
            </th>                    <th  *ngIf="Level ==1"scope="col">SubCategories</th>

          <th  *ngIf="Level==4 || Level==2"scope="col">Tracks</th>
          <th  *ngIf="Level==3"scope="col">Courses</th>


          <th  *ngIf="Level==3"scope="col">Users</th>
          <th  *ngIf="Level==0"scope="col">Childs</th>


          <th scope="col">Parent</th>
          
          <th>Image</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let cat of Data">

          <td>{{cat.ID}}</td>
          <td>{{cat.Name}}</td>
          <td>
          <select  name="example">
            <option  *ngFor="let child of cat.Childs">{{child}}</option>

          </select>
          </td>
          <td  *ngIf="Level==3"scope="col">

            <select  name="example">
              <option  *ngFor="let User of cat.Users">{{User}}</option>
  
            </select>
          </td>

          <td >{{cat.Parent?cat.Parent:""}}</td>
          <td><img width="80" height="80" src="{{Url}}/Uploads/{{cat.Image}}" /></td>
          <td *ngIf="(!cat.Parent && Level==1)">Main Category Parent</td>
          <td><a [routerLink]="['/adminlayout/editcategory', cat.ID,Level]" (click)="editcategory(Cat.ID)"><i
                class="far fa-edit"></i></a></td>
          <td> <a (click)="Remove(cat.ID)"> <i class="fas fa-trash-alt"></i></a></td>




          <td><a [routerLink]="['/adminlayout/addcategory', cat.ID,Level]" (click)="addcategory(cat.ID)"><i
                class="fas fa-plus"></i></a></td>
        </tr>

      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a (click)="Prev()" class="page-link">Previous</a></li>
        <li class="page-item "><a (click)="Next()" class="page-link">Next</a></li>
      </ul>
    </nav>

  </div>
</div>