<div class="row edit">
  <div class="col-md-12">
    <div class="card card-user">

      <div class="card-body">
        <div class="author">

          <img class="avatar border-gray" src="{{src}}" alt="...">
          <h5 class="title">{{name}}</h5>
          <!-- <p class="card-text" [(ngModel)]="address"></p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{age}}
          </li>
          <li class="list-group-item">

            {{gender}}

          </li>
          <li class="list-group-item">
            {{email}}

          </li>
          <li class="list-group-item">

            {{address}}
          </li>
          <li class="list-group-item">

            {{phone}}
          </li>
        </ul>

      </div>

      <a class="btn btn-default float-center" [routerLink]="'/adminlayout/editadminprofile'"><i
          class="far fa-edit"></i></a>
      <!-- <a href="#" [routerLink]="'/adminlayout/editadminprofile'"><i class="far fa-edit"></i></a> -->
    </div>




  </div>

</div>