<div class="container ">
  
  <h4  style="color: grey; font-family: cursive;">{{Title}}</h4>
  <ul class="nav nav-pills mb-3 mr-auto" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active Tab" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab"
        aria-controls="pills-description" aria-selected="true">General Data</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link Tab" id="pills-Documents-tab" data-toggle="pill" href="#pills-Documents" role="tab"
        aria-controls="pills-Documents" aria-selected="true">Documents</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link Tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
        aria-controls="pills-profile" aria-selected="true">Links</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link Tab" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
        aria-controls="pills-contact" aria-selected="true">Videos</a>
    </li>
    <!-- <li>
    <button class="btn" (click)="SavAll()">Submit</button>

  </li> -->

  </ul>
  <form #f="ngForm" (ngSubmit)="SavAll(f)">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
        aria-labelledby="pills-description-tab">


        <div class="form-group">
          <div class="row">
            <div class="col-lg-6">
              <label for="name">Name:</label>
              <input ngModel #name="ngModel" name="Name" class="form-control" id="name" required>

              <div class="alert alert-danger mt-1" *ngIf="name.touched && !name.valid">
                <div *ngIf="name.errors.required">
                  Name is required
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">

              <label for="comment-des">Discription:</label>
              <textarea ngModel #desc="ngModel" name="Description" class="form-control" rows="5" id="comment-des"
                required></textarea>

              <div class="alert alert-danger mt-1" *ngIf="desc.touched && !desc.valid">
                <div *ngIf="desc.errors.required">
                  Description is required
                </div>

              </div>

            </div>
          </div>
          <div class="row">


            <div class="input-group   image col-md-6">
              <div class="custom-file ">
                <input style="cursor: pointer; margin-top: 20px!important" (change)="onImageFileChange($event)"
                  type="file" class="custom-file-input " id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Choose Image</label>
              </div>

              <div class="input-group-append">
                <span (click)="uploadImage()" class="input-group-text" id="up">Upload</span>

                <br>

              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <img style="max-width: 300px; max-height: 300px; margin-left: 2px !important;" *ngIf="ImageSrc"
                [src]="ImageSrc">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show active" id="pills-Documents" role="tabpanel" aria-labelledby="pills-Documents-tab">

        <div *ngFor="let doc of Documents" class="form-group">
          <div class="col-lg-6">
            <label for="comment">Discription:</label>
            <textarea [(ngModel)]="doc.Description" name="descr" class="form-control" rows="5" id="comment"></textarea>
            <span class="mt-5" style="font-family: cursive; cursor: pointer;" (click)="downloadFile(doc.File)">

              <i style="color: #86c232; margin-top: 15px; font-size: 16px;" class="fas fa-folder-open"></i>
              {{doc.File.split("_")[0]}}
            </span>

          </div>
          <div class="row">
            <div class="form-group col-md-9">



              <div class="input-group ml-3">
                <div class="custom-file col-lg-6">
                  <input style="cursor: pointer; margin-left: 1px; width: 100%;" (change)="onDocFileChange($event)"
                    type="file" class="custom-file-input hamada" id="inputGroupFile02">
                  <label class="custom-file-label lab" for="inputGroupFile02">Choose Image</label>
                </div>

                <div class="input-group-append">
                  <span (click)="uploadFile(doc)" class="input-group-text NewDocup" id="up">Upload</span>


                </div>


              </div>

              <!-- 
          <div class="custom-file">
            <input (change)="onDocFileChange($event)" name="file" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <button class="btn" (click)="uploadFile(doc)">Upload</button><br> -->



            </div>
          </div>
        </div>




        <input  style="margin-left: 10px !important;" type="button" class="btn " data-toggle="modal"
          data-target="#exampleModal" data-whatever="@mdo" value="Add">


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label for="comment">Discription:</label>
                  <textarea [(ngModel)]="NewDocDesc" name="NewDocDesc" class="form-control" rows="5"
                    id="comment"></textarea>
                  <div class="row">

                    <!-- <div class="input-group  image col-md-12">
                      <div class="custom-file col-lg-6">
                        <input style="cursor: pointer; margin-left: 1px; width: 100%;"
                          (change)="onDocFileChange($event)" type="file" class="custom-file-input hamada"
                          id="inputGroupFile02">
                        <label class="custom-file-label lab" for="inputGroupFile02">Choose Image</label>
                      </div>

                      <div class="input-group-append">
                        <span (click)="uploadFile()" class="input-group-text NewDocup" id="up">Upload</span>


                      </div>


                    </div> -->
                    <div class="input-group ml-3">
                      <div class="custom-file col-lg-6">
            <input style="cursor: pointer; margin-left: 1px; width: 100%;" (change)="onDocFileChange($event)"
                          type="file" class="custom-file-input hamada" id="inputGroupFile02">
                        <label class="custom-file-label lab" for="inputGroupFile02">Choose Image</label>
                      </div>
      
                      <div class="input-group-append">
                        <span (click)="uploadFile(null)" class="input-group-text NewDocup" id="up">Upload</span>
      
      
                      </div>
      
      
                    </div>
      '


                  </div>

                </div>

                <div class="modal-footer">

                  <button (click)="Adddoc()" type="button" class="btn " data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div *ngFor="let Link of links" class="form-group">
          <div class="col-lg-6">
            <label for="comment">Link Discription:</label>
            <textarea name="Link.Description" name="Link.Description" [(ngModel)]="Link.Description"
              class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="inputaddlink"> Link:</label>
            <input name="link" [(ngModel)]="Link.link" type="link" class="form-control" id="inputaddlink">


          </div>

        </div>

        <input type="button" class="btn " data-toggle="modal" data-target="#AddLInk" data-whatever="@mdo" value="Add">
        

        <div class="modal fade" id="AddLInk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Link</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="col-lg-12">
                    <label for="comment">Link Discription:</label>
                    <textarea style="width: 450px;" name="Linkdescribtion" [(ngModel)]="NewLinkDescription"
                      class="form-control" rows="5" id="comment"></textarea>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="inputaddlink"> Link:</label>
                    <input style="width: 440px;" name="link" [(ngModel)]="NewLinkText" type="Link" class="form-control"
                      id="inputaddlink">

                  </div>
                </div>

                <div class="modal-footer">

                  <button (click)="AddLInk()" type="button" class="btn " data-dismiss="modal">Save</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div *ngFor="let Vedio of Vedios" class="form-group">

          <label for="comment">Discription:</label>
          <textarea name="videdesc" [(ngModel)]="Vedio.Description" class="form-control" rows="5"
            id="comment"></textarea>
          <div class="form-group col-md-6">
            <label for="inputaddlink"> Video Link:</label>
            <input style="width: 450px;" name="video" [(ngModel)]="Vedio.Vedio" type="Link" class="form-control"
              id="inputaddlink">


          </div>
        </div>

        <input value="Add" type="button" class="btn " data-toggle="modal" data-target="#AddVedio" data-whatever="@mdo">
        

        <div class="modal fade" id="AddVedio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Vedio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="comment">Discription:</label>
                  <textarea name="videdesc" [(ngModel)]="NewVedioDescription" class="form-control" rows="5"
                    id="comment"></textarea>
                  <div class="form-group col-md-6">
                    <label for="inputaddlink"> Video Link:</label>
                    <input style="width: 450px;" name="video" [(ngModel)]="NewVedioLink" type="Link"
                      class="form-control" id="inputaddlink">

                  </div>
                </div>

                <div class="modal-footer">

                  <button (click)="AddVedio()" type="button" class="btn " data-dismiss="modal">Save</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!f.valid" class="btn">Submit</button>
  </form>

</div>