.content{
    overflow:hidden !important;
    width:300px;
    height:100px;
    margin:auto;
}

button
{
   
    background-color: #86c232 !important;
    position: relative;
    border-radius: 5px;
    width: 100px;
   
  
  
   
}

label{
   
   
    position: relative;
    top: 10px;
    font-size: 25px;
   
    left: 0px;
}

input{
    bottom: 20px;
    left: 0px;
    position: relative;
    /* height: 42px; */
    width: 200px;
}
.save{
  
    font-size: 20px;
 
    /* position: relative; */
    text-align:center;

    

}
.cancel{
       color:red !important;
       font-size: 20px;

       position: relative;
    bottom: -1px;
  
    left: 272px;
    bottom: 0px;
      
    }
    