.styleinput{
    width: 205px;
}

#inputsearch{

   width:  311px;
}

button
{
   
    background-color: #86c232 !important;
    border-radius: 10px;
    position: relative;
    text-align: center;
    right: 115px;
    bottom: 10px;
    border-radius: 3px;
  
   
}
.edit{
    cursor: pointer; 
}
.delete{
    text-decoration: none;
    /* border: none; */
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}


table
{
    margin-top: 63px;
    color:#a2a2a2;
}
tbody tr td a
{
    color: #86c230;
    font-size: 19px;
}


select
{
    color: #a2a2a2;
}

nav{

    /* float: right; */
    display: inline-block;
    position: relative;
    left: 684px;

    
}
.page-link{
    color:  #86c232 !important;  
}