
.navbar
{
    background-color: #222629 !important;
    color: #86c232 !important;
}
.btn
{
    background-color: #222629  !important;
    color: #86c232 !important;
    border-radius: 20px;
}

.navbar-nav{
    /* margin-left: 598px; */
    color: #86c232 !important;
}
.input-group{
    color: #86c232 !important;
}