<div class="col-md-4 mt-4 " style=" margin-top: 10rem !important;;">
  <div class="card profile-card-5">
    <div class="card-img-block">
      <img  
      class="card-img-top" src="{{Url}}/Uploads/{{Admin.Image}}" alt="Card image cap">
    </div>
    <div class="card-body pt-0">
      <h5 class="card-title text-center" style="color: #626364;">{{Admin.Name}}</h5>
      <p class="card-text"><i class="far fa-envelope-open icon "></i><label>Email : </label> {{Admin.Email}} </p>
      <hr>
      <p class="card-text"><i class="fas fa-mobile-alt icon"></i> <label>Phone :</label>
        {{Admin.Phone}}
      </p>
      <hr>
      <p class="card-text"><label>Gendeer:</label> {{Admin.Gender}}
      </p>
      <hr>
      <p class="card-text"><i class="fas fa-map-marker-alt icon"></i><label>Address : </label> {{Admin.Adress}}
      </p>
      <hr>
      <p class="card-text"><i class="fas fa-map-marker-alt icon"></i><label>Age : </label>
        {{Admin.Age}}

      </p>
      <!-- <p class="card-text"><i class="fas fa-university icon"></i><label>Education : </label> </p>
          <hr> -->
      <!-- <p class="card-text"><i class="fas fa-file-alt icon"></i><label>Skills :</label> </p> -->
      <!-- <hr> -->
      <!-- <p class="card-text"><i class="fas fa-link icon"></i><label>Links :</label> </p> -->


    </div>
  </div>
</div>