.content{

    transform: none;
    font-size:20px;
    width: 450px;
    height: 90px;
    text-align: center;
    position: relative;
    top: 34px;
    color: #86c232 !important;


}
.cancel{
    
    font-size:20px !important;
    left: 549px;
    bottom: 59px;


}