<div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <div class="form-group row">
            <label for="inpusearch" class="col-sm-2 col-form-label ">Search</label>
            <div class="col-sm-10">
              <input type="search" class="form-control" id="inputsearch" placeholder="Search" >
            </div>
          </div>
      
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Skill Name
                </th>
                <th>
                Role
                </th>
                <th>
                 Add
                </th>
                <th>
                  Delete
                </th>
                <th class="text-right">
                 Details
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                   Yosra
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                         
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                   Yosra
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                       
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                       
                          <select class="form-control">
                            <option>Web</option>
                            <option>Mobile</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                   Marwa
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                        
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          
                          <select class="form-control">
                            <option>Web</option>
                            <option>Mobile</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                   Sara
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                     
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                   
                          <select class="form-control">
                            <option>Mobile</option>
                            <option>Web</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                  Shaimaa
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                       
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                         
                          <select class="form-control">
                            <option>Secuirty</option>
                            <option>Mobile</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                   Yosra
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                        
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                      
                          <select class="form-control">
                            <option>Mobile</option>
                            <option>Web</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                   Ahmed
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                         
                          <select class="form-control">
                            <option>Admin</option>
                            <option>User</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                       
                          <select class="form-control">
                            <option>Network</option>
                            <option>Web</option>
                          </select>
                        </div>
                      </div>
                      </div>
                  </td>
                  <td>
                    <i class="far fa-trash-alt"></i>
                  </td>
                  <td class="text-right">
                    <i class="fas fa-info-circle"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
