.container{
     margin-bottom: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
.form-control {
    padding-left: 2.375rem;
    height:29%;

}

 .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.custom-select{
    width: 64px;
}
button
{
    background-color:#86c232;
    position: relative;
    bottom: 10px;
 
    color: #F2F2F2;
    font-weight: bold;
    border-radius: 4px;
}
button:hover
{
    background-color: #F2F2F2!important;
    color:  #86c232 !important;  
    border:1px solid #F2F2F2; 
    
}

table
{
    margin-top: 63px;
    color:#a2a2a2;
}
tbody tr td a
{
    color: #86c230;
    font-size: 19px;
}


select
{
    color: #a2a2a2;
}
table tr .disable
{
    color: red;
}

table tr .enable
{
    color:#86c232;
}
nav{

    /* float: right; */
    display: inline-block;
    position: relative;
    left: 705px;

    
}
.change{
    width: 90px;
}
.page-link{
    color:  #86c232 !important; 
    font-size: 16px !important; 
    cursor: pointer;
}


th{
    text-align: center;

}
td{
    text-align: center;
}
a {
    cursor: pointer;
}
.delete{

    text-decoration: none;
    /* border: none; */
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
.CurrentPage 
{
    background-color: #222629;
    color:  #86c232 !important; 
    font-weight: bold;
   

    
}
.pagntion
{
  
 position: absolute;
 left: 0;
margin-left:45px 
;
   
}

.search{
    position: relative;
    top: 4px;
    left: 47px;
}
.row
{
    position: relative;
    top: 25px;
}

.pagination
{

   margin-top: 0px;
}
