<!--Begin the Footer-->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> <a href=""> What'sLearn.com </a><i>Online Education must be shared</i> We’ve built a highly engaging learning experience that exceeds the high expectations of modern learners. What'sLearn focuses on providing the most efficient insights and data that will help you understand your skill needs today and in the future. We will help users build up concepts in different scientific fields.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul  *ngFor="let res of Result"class="footer-links">
            <li><a style="cursor: pointer;" (click)="GoTo(res.ID)">{{res.Name}}</a></li>
            <!-- <li><a href="#">Communication Science</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Soft Skils</a></li> -->
          </ul>
        </div>                                                                                                                                                                                                                                                                                                

        <div class="col-xs-6 col-md-3">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by <a href="#">What's Learn!</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://m.facebook.com/"  target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/WhatsLearn1" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/feed/ " target="_blank"  ><i class="fab fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>