<div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
           
              <img class="avatar border-gray" src="assets/img/uc.jpg" alt="...">
              <h5 class="title"[(ngModel)]="name"></h5>
              <!-- <p class="card-text" [(ngModel)]="address"></p> -->
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" [(ngModel)]="age"></li>
              <li class="list-group-item"[(ngModel)]="gender"></li>
              <li class="list-group-item" [(ngModel)]="email"></li>
              <li class="list-group-item" [(ngModel)]="address"></li>
              <li class="list-group-item"[(ngModel)]="phone"></li>
            </ul>
           
          </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Info of First Track
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
          
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        
                        <th scope="col">Finished Course</th>
                        <th scope="col">Current Course</th>
                        <th scope="col">Future Course</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Html</td>
                        <td>Css</td>
                        <td>Html5</td>
                      </tr>
                      <tr>
                        
                        <td>Css3</td>
                        <td>Bootstrap</td>
                        <td>J Query</td>
                      </tr>
                      <tr>
                        
                        <td>JavaScript</td>
                        <td>Sass</td>
                        <td>Angular</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Info of Second Track
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        
                        <th scope="col">Finished Course</th>
                        <th scope="col">Current Course</th>
                        <th scope="col">Future Course</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Html</td>
                        <td>Css</td>
                        <td>Html5</td>
                      </tr>
                      <tr>
                        
                        <td>Css3</td>
                        <td>Bootstrap</td>
                        <td>J Query</td>
                      </tr>
                      <tr>
                        
                        <td>JavaScript</td>
                        <td>Sass</td>
                        <td>Angular</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
           
          </div> 
          
       
      </div>






