<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active " id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab"
      aria-controls="pills-description" aria-selected="true">General Data</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " id="pills-Documents-tab" data-toggle="pill" href="#pills-Documents" role="tab"
      aria-controls="pills-Documents" aria-selected="true">Documents</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
      aria-controls="pills-profile" aria-selected="true">Links</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
      aria-controls="pills-contact" aria-selected="true">Videos</a>
  </li>
  <li>
    <button class="btn " (click)="SavAll()">Submit</button>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">


    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name" [(ngModel)]="Name" class="form-control" id="name">

      <label for="comment-des">Discription:</label>
      <textarea name="desc" [(ngModel)]="Description" class="form-control" rows="5" id="comment-des"></textarea>
      <div class="row">
        <div class="form-group col-md-6">
          <label class="text-muted">Add Image</label>
          <div class="custom-file">
            <input name="imag" [(ngModel)]="image" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Image</label>
          </div>
        </div>

      </div>

      <button class="btn" (click)="SaveDescribtion()">Save</button>
    </div>
  </div>

  <div class="tab-pane fade show active" id="pills-Documents" role="tabpanel" aria-labelledby="pills-Documents-tab">

    <div *ngFor="let doc of Documents" class="form-group">
      <label for="comment">Discription:</label>
      <textarea [(ngModel)]="doc.Description" class="form-control" rows="5" id="comment"></textarea>
      <div class="row">
        <div class="form-group col-md-6">
          <label class="text-muted">Add File</label>
          <div class="custom-file">
            <input [(ngModel)]="file" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
      </div>
      <button class="btn " (click)="Savedoc(doc)">Save</button>

    </div>
  </div>

  <!-- <button type="btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add
      Document</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="comment">Discription:</label>
              <textarea [(ngModel)]="NewDocDesc" class="form-control" rows="5" id="comment"></textarea>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="text-muted">Add File</label>
                  <div class="custom-file">
                    <input [(ngModel)]="NewDocfile" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div>
              </div>

            </div>

            <div class="modal-footer">

              <button (click)="Adddoc()" type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div> -->

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div *ngFor="let Link of links" class="form-group">
      <label for="comment">Link Discription:</label>
      <textarea name="Linkdescribtion" [(ngModel)]="Link.Link" class="form-control" rows="5" id="comment"></textarea>
      <div class="form-group col-md-4">
        <label for="inputaddlink"> Add Link:</label>
        <input name="link" [(ngModel)]="Link.Description" type="Link" class="form-control" id="inputaddlink" required>
        <button class="btn " (click)="SaveLink(Link)">Save</button>

      </div>

    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div *ngFor="let Vedio of Vedios" class="form-group">

      <label for="comment">Discription:</label>
      <textarea name="videdesc" [(ngModel)]="Vedio.Description" class="form-control" rows="5" id="comment"></textarea>
      <div class="form-group col-md-4">
        <label for="inputaddlink"> Add Video Link:</label>
        <input name="video" [(ngModel)]="Vedio.Vedio" type="Link" class="form-control" id="inputaddlink" required>

        <button class="btn" (click)="SaveVideos(Vedio)">Save</button>
      </div>
    </div>
  </div>
</div>