<label for="cars">show</label>
<select (change)="GetAll()" name="Numbers" [(ngModel)]="PageSize">
  <option *ngFor="let show of shows" [ngValue]="show">{{show}}</option>

</select>
<div class="form-group row">

  <div class="col-lg-6">


    <input name="SearchText" [(ngModel)]="Skill" type="search" class="form-control" id="inputsearch"
      placeholder="Add New Skill">
  </div>
  <div class="col-lg-6">
    <button (click)="AddSkill()" type="submit" class="btn btn-success">Save</button>

  </div>
  <div class="col-lg-12">

    <div class="card-body">
      <br>
      <div *ngIf="IsAdded" class="alert alert-success alert-dismissible fade show" role="alert">
        Skill Added Sucessfully
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="IsDeleted" class="alert alert-danger alert-dismissible fade show" role="alert">
        Skill Added Sucessfully
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="" *ngFor="let col of tableHeaders" (click)="sort(col.ID)">{{col.Name}}</th>
              <!-- <th>
                ID
              </th>
              <th>
                Skills
              </th> -->
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let Skill of Skills">
              <td>{{Skill.ID}}</td>

              <td>{{Skill.skill}}</td>

              <td><a (click)="EditSkill(Skill.ID)"><i class="far fa-edit"></i></a></td>
              <td><a (click)="DeletSkill(Skill.ID)"><i class="far fa-trash-alt"></i></a></td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="Prev()">Previous</a></li>

    <li class="page-item"><a class="page-link" (click)="Next()">Next</a></li>
  </ul>
</nav>