 <!--manage category-->
 <div class="container">
  <div class="row">
    <div class="col-lg-6">
   <h3>Choose Level</h3>
    </div>
    <div class="col-lg-6">
  <div class="input-group">
    <select   class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
      <option  *ngFor="let category of categories" [ngValue]="category"selected>{{category.name}} </option>
  
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Choose</button>
    </div>
  </div>
  </div>
    
   
   
   



    <div class="col-lg-6">
      <form >
        <label for="cars">show</label>
        <select name="Numbers">
          <option  *ngFor="let show of shows" [ngValue]="show">{{show.number}}</option>
         
        </select>
      </form>
    </div>


    <div class="col-lg-6">
      <form>
        <input  [(ngModel)]="name" type="text" class="form-control by" id="inputusername" placeholder="Search By">
        <select   class="custom-select selection" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option  *ngFor="let search of searches" [ngValue]="search"selected>{{search.name}} </option>
      
        </select>
        <button type="submit" class="btn btn-default float-center search" >Search</button>

      </form>

    </div>

    
   

  
  

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Childs</th>
      <th scope="col">Parent</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of collection.data | paginate: config">
      <th scope="row">{{item.id}}</th>
      <td>{{item.value}}</td>
      <th [(ngModel)]="id" scope="row"></th>
     <td [(ngModel)]="levelname"></td>
      <td>
        <select name="example">
          <option *ngFor="let track of tracks" [ngValue]="track"selected>{{track.name}}</option>
        
        </select>
      </td>
      <td  [(ngModel)]="parentname"></td>
      <td><a href="#" [routerLink] ="'/adminlayout/editcategory'"><i class="far fa-edit"></i></a></td>
      <td >
        <a href="#"  data-toggle="modal" data-target="#exampleModal">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are Yoy Sure You Want To Delet This Row?

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <i class="fas fa-trash-alt"></i>
      </a>
    </td>
      <td><a href="#" [routerLink]="'/adminlayout/addcategory'"><i class="fas fa-plus"></i></a></td>
    </tr>
    <tr>
      <th  [(ngModel)]="id" scope="row"></th>
      <td [(ngModel)]="levelname"></td>
      <td>
        <select name="example">
          <option  *ngFor="let track of tracks" [ngValue]="track"selected>{{track.name}}</option>
        
        </select>
      </td>
      <td [(ngModel)]="parentname"></td>
      <td><a href="#" [routerLink]="'/adminlayout/editcategory'"><i class="far fa-edit"></i></a></td>
      <td >
        <a href="#"  data-toggle="modal" data-target="#exampleModal">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are Yoy Sure You Want To Delet This Row?

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



        <i class="fas fa-trash-alt"></i>
      </a>
    </td>
      <td><a href="#" [routerLink]="'/adminlayout/addcategory'"><i class="fas fa-plus"></i></a></td>
    </tr>
    <tr>
      <th [(ngModel)]="id"scope="row"></th>
      <td [(ngModel)]="levelname"></td>
      <td>
        <select name="example">
          <option *ngFor="let track of tracks" [ngValue]="track"selected>{{track.name}}</option>
      
        </select>
      </td>
      <td [(ngModel)]="parentname"></td>
      <td><a href="#" [routerLink]="'/adminlayout/editcategory'"><i class="far fa-edit"></i></a></td>
      <td >
        <a href="#"  data-toggle="modal" data-target="#exampleModal">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are Yoy Sure You Want To Delet This Row?

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



        <i class="fas fa-trash-alt"></i>
      </a>
    </td>
      <td><a href="#" [routerLink]="'/adminlayout/addcategory'"><i class="fas fa-plus"></i></a></td>
    </tr>
    <tr>
      <th [(ngModel)]="id"></th>
      <td [(ngModel)]="levelname"></td>
      <td>
        <select name="example">
          <option *ngFor="let track of tracks" [ngValue]="track"selected>{{track.name}} </option>
   
        </select>
      </td>
      <td [(ngModel)]="parentname"></td>
      <td><a href="#" [routerLink]="'/adminlayout/editcategory'"><i class="far fa-edit"></i></a></td>
      <td >
        <a href="#"  data-toggle="modal" data-target="#exampleModal">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are Yoy Sure You Want To Delet This Row?

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



        <i class="fas fa-trash-alt"></i>
      </a>
    </td>
      <td><a href="#" [routerLink]="'/adminlayout/addcategory'"><i class="fas fa-plus"></i></a></td>
    </tr>
    <tr>
      <th [(ngModel)]="id"scope="row"></th>
      <td [(ngModel)]="levelname"></td>
      <td>
        <select name="example">
          <option  *ngFor="let track of tracks" [ngValue]="track"selected>{{track.name}}</option>
         
        </select>
      </td>
      <td [(ngModel)]="parentname"></td>
      <td><a  href="#" [routerLink]="'/adminlayout/editcategory'"><i class="far fa-edit"></i></a></td>
      <td >
        <a href="#"  data-toggle="modal" data-target="#exampleModal">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 Are Yoy Sure You Want To Delet This Row?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <i class="fas fa-trash-alt"></i>
      </a>
    </td>
      <td><a href="#" [routerLink]="'/adminlayout/addcategory'"><i class="fas fa-plus"></i></a></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>
</div>
