<div class="container">




  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <select class="custom-select" id="SearchIn" aria-label="Example select with button addon">
          <!-- <option  *ngFor="let category of categories" [ngValue]="category"selected>{{category.name}} </option> -->
        </select>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
     
        <select  name="SearchOp"  [(ngModel)]="SearchOp"  class="custom-select" id="SearchBy" aria-label="Example select with button addon">
          <option value="" disabled>Choose Search Option</option>
          <option *ngFor="let op of SerachOpts" [ngValue]="op.ID">{{op.name}}</option>
          <!-- <option  *ngFor="let category of categories" [ngValue]="category"selected>{{category.name}} </option> -->
        </select>

      </div>
    </div>
    <div class="col-lg-4">

      <div class="input-group">
       
        <input  name="SaerchText"  [(ngModel)]="SaerchText"  type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button  (click)="Search()" class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>

      </div>

    </div>




  </div>

  <div class="row">
    <div class="text-left">
      <div class="col-lg-2">
        <form>
          <label for="cars">show</label>
          <select name="Numbers" [(ngModel)]="pageSize" class="custom-select"  (change)="Filter()" >
                
          <option  *ngFor="let show of shows" [ngValue]="show" >{{show}}</option>
            <!-- <option  *ngFor="let show of shows" [ngValue]="show">{{show.number}}</option> -->

          </select>
        </form>
      </div>
    </div>
  </div>





  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Tracks</th>

        <th scope="col">Status</th>
        <th scope="col">Chage Status</th>

        <th scope="col">Details</th>
        <th scope="col">Delete</th>


      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of Users">
        <td>{{user.Name}}</td>
        <td>{{user.Email}}</td>
        <td scope="col">{{user.TracksName}} </td>

        <td>{{user.Status}}</td>
        <td>

          <input (click)="Change(user.ID)" type="button" class="btn btn-success ml-1 p-2" value="Change">
        </td>

        <td><a (click)="details(user.ID)"><i class="fas fa-info"></i></a></td>
      
        

        <td> <button    class="delete"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage" placement="top" (confirm)="Delete(user.ID)"(cancel)="cancelClicked = true"><i class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>

  <div style="visibility: hidden;" id="delalert" class=" alert alert-success" role="alert">
    Delete Successfully
  </div>


  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a (click)="Prev()" class="page-link">Previous</a></li>
      <li class="page-item "><a (click)="Next()" class="page-link">Next</a></li>
    </ul>
  </nav>
</div>