<!--#regionAboutus-->
<div class="container styling">
    <div class="row">
        <div class="col-md-6 ParagraphStyle">
            <h4> Engaging Learner Experience</h4>
            <h5 class="subheading">
                What's Learn  Website meets the needs of the modern learner with personalized, data-driven course recommendations 
               </h5>
            <p class="text-muted" style="font-size: 16px; color: #6B6E70 !important ;margin-top: 13px;">
                Discussion is the first concept of our relationship in team work so , we decide to discuss everything between us so that we can do our best before taking any decision
                
                While the world is staying home, we're all having to change how we work and learn. It's obviously not easy, but there's at least one bright side. The COVID-19 pandemic has been showing us how we can come together, even while physically apart. In that spirit, we've  already able to make you well Educated.
                </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="{{Url}}teamwork3.jpg" class=" img-fluid" alt="" />
        </div>
    </div>
    <div class="row styling">
        <div class="col-md-6 how-img">
            <img src="{{Url}}teamwork.jpg" class=" img-fluid" alt="" />
        </div>
        <div class="col-md-6 ParagraphStyle">
            <h4>Work efficiently, effectively.</h4>

            <h5 class="subheading">
                We’ve build a robust online learning platform that your employees will use, love, and apply.
               </h5>
            <p class="text-muted" style="color: #6B6E70 !important; margin-top: 28px;">
          Only What's Learn  provides the unique combination of these 3 factors:
       <br>
                1- All managed needed data that you want to learn in any field  such as images,Links,Documents,Videos.
               <br>
               2- Engagement with Users While Learning.
               <br>
                3-Enrollment in tracks..</p>
        </div>
    </div>
    <div class="row styling">
        <div class="col-md-6 ParagraphStyle">
            <h4>Help Users develop relevant skills</h4>
            <h5 class="subheading">Skills are quickly changing. On-demand and on-the-job learning is the only way to keep up. People rarely come in with all of the skills needed to do the job, and if they do, they are quickly promoted to managerial roles that require a new set of skills.</h5>
            <p class="text-muted" style="color:#6B6E70 !important">
                Our WHY <br>
                We believe that every person can be captivated by their learning.
                <br>
                Our HOW <br>
                We make accessing videos,documents,links for education simple, seamless, and safe.
                <br>
                Our WHAT
                <br>
                We find and curate the world's best educational materials for learning  <br></p>
        </div>
        <div class="col-md-6 how-img">
            <img src="{{Url}}teamwork2.jpg" class=" img-fluid" alt="" />
        </div>
    </div>
</div>
<!-- #endregionAboutus -->







<!-- #regionOurTeam-->
<div class="container">
    <div class="our-team">
        <h2 class="text-center">Our Team</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}104250776_1523726141143838_3948464242201040389_n.jpg" alt="Profile image "
                            style="width: 100%;" />
                    </div>
                    <div class="over_layer">

                        <p style="font-size: 20px;">
                            Teaching assistant in Information Technology Institute Aswan branch.
                            <br> Our Project Supervisor and Our best technical support
                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> taha.a.sabour@gmail.com<br>

                        </p>
                    </div>
                </div>
                <div class="profile_contact">
                    <h3>Taha Ebd Elsabour
                        <span>Supervisor</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}salah.jpg
                        " alt="Profile image "
                            style="width: 100%;" />
                    </div>
                    <div class="over_layer">

                        <p style="font-size: 18px;">
                            .net Full Stack<br>
                            Is Graduated From Faculty of Computer and Information Technology 2019<br>
                            Department of Information System Asuit University <br>
                            Join ITI FullStack Track in Feb2020<br>
                            and graduate in june2020<br>

                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> engsalahmahmoud0@gmail.com
                            <br> <SPAN style="font-weight: bold;"> Role in project: </SPAN> BackEnd Developer And
                            Project Manager
                            <br>

                        </p>
                    </div>

                </div>
                <div class="profile_contact">
                    <h3>Salah Mahmoud
                        <span>Full Stack Developer</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}yousraedit_n.png" alt="Profile image" />
                    </div>
                    <div class="over_layer">
                        <p style="font-size: 18px;">
                            .net Full Stack<br>
                            Is Graduated From Faculty of Computer and Information Technology 2019<br>
                            Department of Information System Minia University <br>
                            Join ITI Full Stack Track in Feb2020<br>
                            and graduate in june2020<br>

                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> yosramousamancy@gmail.com
                            <br> <SPAN style="font-weight: bold;"> Role in project: </SPAN> FrontEnd Developer And
                            Coordinator
                            <br>

                        </p>

                    </div>
                </div>
                <div class="profile_contact">
                    <h3>Yosra Mousa
                        <span>Full Stack Developer</span>
                    </h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}Amira.jpeg
                        " alt="Profile image "
                            style="width: 100%;" />
                    </div>
                    <!-- <div class="profile_img">
                        <img src="../../assets/Imgs/Amira.jpeg" alt="Profile image" />
                    </div> -->
                    <div class="over_layer">
                        <p style="font-size: 18px;">
                            .net Full Stack<br>
                            Is Graduated From Faculty of Commerce 2016<br>
                            Department of Accounting South Valley University <br>
                            Join ITI FullStack Track in Feb2020<br>
                            and graduate in june2020<br>

                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> amiraabdelmagee94@gmail.com
                            <br> <SPAN style="font-weight: bold;"> Role in project: </SPAN> BackEnd Developer
                            <br>

                        </p>

                    </div>
                </div>
                <div class="profile_contact">
                    <h3>Amira Abd Elmageed
                        <span>Full Stack Developer</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}/sara_n.jpg" alt="Profile image" />
                    </div>
                    <div class="over_layer">

                        <p style="font-size: 18px;">
                            .net Full Stack<br>
                            Is Graduated From Faculty of Engineering 2019<br>
                            Department of Communication and Electronics Aswan University <br>
                            Join ITI Full Stack Track in Feb2020<br>
                            and graduate in june2020<br>

                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> snegm0496@gmail.com
                            <br> <SPAN style="font-weight: bold;"> Role in project: </SPAN> BackEnd Developer
                            <br>

                        </p>
                    </div>
                </div>
                <div class="profile_contact">
                    <h3>Sara Negm Eldeen
                        <span>Full Stack Developer</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img src="{{Url}}shimaaedit_n.png" alt="Profile image" />
                    </div>
                    <div class="over_layer">
                        <p style="font-size: 18px;">
                            .net Full Stack<br>
                            Is Graduated From Faculty of Art 2017<br>
                            Department of English South Valley University <br>
                            Join ITI Full Stack Track in Feb2020<br>
                            and graduate in june2020<br>

                            <br> <SPAN style="font-weight: bold;"> Email: </SPAN> shimaa.alhamid@gmail.com
                            <br> <SPAN style="font-weight: bold;"> Role in project: </SPAN> FrontEnd Developer
                            <br>

                        </p>
                    </div>
                </div>
                <div class="profile_contact">
                    <h3>Al-Shaimaa Abd Elhamid
                        <span>Full Stack Developer</span>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- #endregionOurTeam -->