<div class="row" style="    float: right !important; position: relative;
bottom: 13px; color:#bf3636; font-size:18px">
  <a  mat-button mat-dialog-close> <i class="fas fa-times"></i></a>
</div>

<div class="top container-fluid">
    <h3> Edit Your Social Links</h3>
    <div class="row ">



       

        <table class="table table-striped text-center" style="margin-top: 72px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Link</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let link of UserLinks">
                    <th scope="row">{{link.ID}}</th>
                    <td>{{link.Link}}</td>

                    <td>
                        <a (click)="EditLink(link)"><i class="far fa-edit model" style="margin-top: 7px;">
                        </i></a>
                    </td>
                   
                    <td> <a class="delete" mwlConfirmationPopover
                                    [popoverTitle]="popoverTitle" 
                                    [popoverMessage]="popoverMessage"
                                   placement="top" (confirm)="DeleteLink(link)"
                                    (cancel)="cancelClicked = true">
                                   <i class="fas fa-trash-alt "></i></a>
                               </td>

                    <!-- <td> <a class="delete" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
            placement="top" (confirm)="Remove(cat.ID)" (cancel)="cancelClicked = true">
            <i class="fas fa-trash-alt "></i></a>
        </td> -->
                </tr>


            </tbody>
        </table>
    </div>