
.container
{
  
  width:95% !important;
  margin-left: auto !important;
}

textarea{
    width: 100%;
}
#up
{
  background-color: #e9ecef;
width: 67px;
/* padding: 1px; */
text-align: center;
font-size: 14px;
cursor: pointer;
height: 36px !important;
margin-top: 0px;
padding: 13px 7px;
font-weight: normal;
}
.btn
{
  background-color: #f4f3ef;
  border: 1px solid #86c232;
  border-radius: 20px;
  color: #86c232 !important;
  font-size: 13px;
}
.btn:hover
{
  background-color:  #86c232 !important;
  color:#f4f3ef !important;
}
.image
{
  margin-top: 12px;
  position: relative ; 
  right: 105;
}
.nav-pills .nav-link.active{
  background-color:inherit;
  border-bottom: 4px solid #86c232 ;
/* box-shadow:2px 2px 15px 10px  rgb(201, 198, 198); */
color: #86c232 !important;
}
  /* button
{
    background-color: #86c232  !important; 
    color: #eee !important;
    border-radius: 20px;
    position: relative;
} */
.nav-link {
  color: #86c232 !important;

}

