.content 
{
  width:95% !important;
  margin-left: auto !important;

}
textarea{
  width: 100%;
}

.nav-pills .nav-link.active{
  background-color:inherit;
  border-bottom: 3px solid #222629 ;
box-shadow: 1px 1px 5px #222629;
color: #86c232 !important;
}
label
 {
 
      font-family: 'Forum' !important;
   color: #222629 !important;
   font-size: 16px !important;
   margin-top: 5px !important;
  
  }
  .lab
  {
    width: 202px;
  }
/* button
{
float: right;

right: 69%;
top: 24px;

} */
.modal {
  margin-top: 100px;
    
}
.image
{
  margin-top: 10px !important;
  width: 100%;
  position: relative;
  left: 30;
  padding: 0px !important;
}
.image input
{
  width: 100% !important;
  margin-left: 0px !important;
}
button
{
  background-color: #86c232  ; 
  color: #eee !important;
  border-radius: 20px;
  position: relative;
}
.nav-link {
color: #86c232 !important;

}
form
 {
     width:60%;
     height: 100%;
     margin:20px auto;
     /* border:1px solid #AAA; */
     padding: 15px;
     color: black;
     font-family: cursive !important;
     border-radius: 15px;
     background-color:hsl(240, 7.9%, 87.6%)
    ;
    box-shadow: 5px 5px 20px  gray  ;
 } 
 .btn
{
  background-color: #f4f3ef;
  border: 1px solid #86c232;
  border-radius: 20px;
  color: #86c232 !important;
  font-size: 13px;
}
.btn:hover
{
  background-color:  #86c232 !important;
  color:#f4f3ef !important;
}
.AddAdmin
{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color: #6b6e70 !important;
    font-family: cursive !important;
} 
#up
{
background-color: #e9ecef;
width: 67px;
/* padding: 1px; */
text-align: center;
font-size: 14px;
cursor: pointer;
height: 36px !important;
margin-top: 6px;
padding: 13px 7px;
font-weight: normal;



}
.Submit
{
  margin-left: 26px;
}
.NewDocup
{
  margin-left: 50px;
height: 39px !important;
padding: 17px 8px;
}
 

 /* input ,textarea 
 {
    
     box-shadow: 2px 2px 8px #acaca8 ;

 }  */

 .custom-file-input
 {
  background-color: #f4f3ef; 
  margin-top: 250px !important;
 }
 .fileUp
 {
   width: 65%;
   margin-left: 17px;

 }


