.form-group .form-control, .input-group .form-control {
    width:200px;
    float: right;
 
}
.card label {

    color: black;
    font-size:  15px;

  
}
.col-sm-2 col-form-label float-right{
 
    text-align: center;
    /* margin-left: 598px; */
}