<div class="row" style="    float: right !important; position: relative;
    bottom: 13px; color:#bf3636; font-size:18px">
    <a mat-button mat-dialog-close> <i class="fas fa-times"></i></a>
</div>
<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Course</th>
            <th scope="col">Choose</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let C of Courses">

            <td>{{C.Name}} </td>
            <td>
                <input (change)="Add(C.ID,$event)" style="border: none !important; text-decoration: none !important;" type="checkbox"
                    aria-label="Checkbox for following text input" >
            </td>

        </tr>
        

    </tbody>
</table>

<div class="row" style="margin-left: 15px !important;  margin-bottom: 15px; ">

    <!-- <button class="input-group-text " (click)="Update()">Save</button> -->
    <div class="col-4">
        <button class="input-group-text myinput ml-4  " for="inputGroupSelect02" (click)="save()">Save</button>
    </div>
    <div class="col-8">
        <button class="input-group-text myinput2   ml-2" (click)="AddNewCourse()">Add New Course</button>

    </div>




</div>