.content{

    transform: none;
    font-size:15px;
    width: 450px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 34px;
    color: gray !important;


}
button{
    
    font-size:15px !important;
    padding: 8px;
    width: 74px;
    border-radius: 11px;

    left: 549px;
    background-color: #86c232 !important;
    /* bottom: 59px; */


}