.btn
{
    background-color: #222629  !important;
    color: #86c232 !important;
    border-radius: 20px;

}


.card{
       text-align: center;
    /* background-color: #222629  !important; */

}
.form{
    color: #86c232 !important;

}