<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <form>
        <label for="cars">show</label>


        <select name="Numbers" [(ngModel)]="PageSize" class="custom-select" (change)="Filter()">

          <option *ngFor="let show of shows" [ngValue]="show">{{show}}</option>
        </select>
      </form>
    </div>


    <div class="col-lg-6">
      <form>
        <input name="SaerchText" type="text" [(ngModel)]="SearchText" class="form-controle">


        <select name="SearchOp" [(ngModel)]="SearchOption" class="custom-select">
          <option value="" disabled>Choose Search Option</option>
          <option *ngFor="let op of SerachOptions" [ngValue]="op.ID">{{op.name}}</option>
        </select>

        <button (click)="Search()" type="submit" class="btn btn-default float-center search">Search</button>

      </form>

    </div>
  </div>
</div>



<!---begin the enrollment request--->

<div *ngIf="Messages">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Track</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Message of Messages">
        <td>{{Message.ID}}</td>
        <td>{{Message.UserName}}</td>
        <td> {{Message.TrackName}}</td>
        <td><button (click)="ApproveRequest(Message.ID)" class="btn btn-success"> Approve</button></td>
        <td><button (click)="Cancel(Message.ID)" class="btn btn-danger"> Cancel</button></td>
      </tr>

    </tbody>
  </table>
</div>
<!---end the enrolment request- -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a (click)="Prev()" class="page-link">Previous</a></li>
    <li class="page-item "><a (click)="Next()" class="page-link">Next</a></li>
  </ul>
</nav>