.input-group{
    margin-top: 10px !important;
}

.btn:hover{
/* background-color: #76c232; */
color: white;

}
.btn {
    /* color: #76c232; */
    border: 1px solid #76c232;

}
h3{
    color: #61892f !important; 
    font-size: 18px !important;
}