<div class="row" style="    float: right !important; position: relative;
bottom: 13px; color:#bf3636; font-size:18px">
  <a  mat-button mat-dialog-close> <i class="fas fa-times"></i></a>
</div>


<div class="container ">





    <div class="row text-center">
        <div class="col-12">
            <h3 class="lbl">Edit Certificate</h3>

            <input name="Certificate" [(ngModel)]="Certificate.Title" type="text" class="form-control mt-7 " id=""
                placeholder="Edit  Certificate">

        </div>

    </div>
    <div class="row ">
        <div class= "col-12">
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input (change)="onImageFileChange($event)" type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span (click)="uploadImage()" style="height: 35px !important;" class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                </div>
              </div>
        </div>
    </div>

    <!-- ---------------------- -->
     <div class="row" style="margin-left: 177px;">
      <!-- <button class="input-group-text " (click)="Update()">Save</button> -->
      <button  style="position: relative;
      
      left: 16px;" (click)="Update()" class="input-group-text" for="inputGroupSelect02">Update</button>
      

</div>
</div>





<!--style="margin-top: 70px; margin-bottom: 20px;"-->