
  <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">

              <i class=" nc-icon nc-globe text-warning far fa-heart"></i>
            </div>
            
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">{{visitors}} </p>

              <p class="card-category">Visitors</p>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">

              <i class=" nc-icon nc-money-coins text-success fas fa-user"></i>

            </div>
          </div>

          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">{{Users}}
              </p>
              <p class="card-category">Users</p>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">{{Maincategory}}
              </p>
              <p class="card-category">MainCategory </p>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">

              <i class=" nc-icon nc-favourite-28 text-primary fas fa-book-open"></i>



            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">{{Roadmap}}
              </p>
              <p class="card-category">RoadMaps</p>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">


      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Visitors</h5>
        <p class="card-category">{{visitors}} </p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users of Each Track</h5>

      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">

          <i *ngIf="this.PieChaertTracks[0]" class="fa fa-circle " style="color: #e3e3e3;"></i>{{this.PieChaertTracks[0]}}
          <i *ngIf="this.PieChaertTracks[1]" class="fa fa-circle " style="color: #4acccd;"></i> {{this.PieChaertTracks[1]}}
          <i *ngIf="this.PieChaertTracks[2]"class="fa fa-circle " style="color: #fcc468;"></i> {{this.PieChaertTracks[2]}}
          <i *ngIf="this.PieChaertTracks[3]" class="fa fa-circle " style="color: #ef8157;"></i> {{this.PieChaertTracks[3]}}

        </div>
        <hr>
        <!-- <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div> -->
      </div>
    </div>
  </div>

</div>
<!-- ......................................... -->