.sidebar-wrapper
{
    background-color: #222629 !important;
    color: #86c232 ;
}

.simple-text logo-normal
{

    color: #86c232 !important;

}

.logo{
    color: #86c232 !important;
}

ul li  a 
{
    color:#86c232   !important;
}
ul li  a:active
{
    color:#86c232  !important;
}
