<div class="body">
    <div class="container" style="margin-top:50px;margin-bottom: 123px;">
      <div class="row text-center">
        <div class="col-lg-12 Text">
          <div class="oops">
          O<span style="color: #86c232;">o</span>ps!- Could not Find it 
            <span style="color: #86c232;">:(</span>

          </div>

            <div class="Num">
              <div class="div">
           <span  style="position: absolute; font-weight: 500;text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
           0px -4px 10px rgba(255,255,255,0.3);">4</span>
           <span style="color: #222629;margin-left: 133px;font-weight: 600;text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
           0px -4px 10px rgba(255,255,255,0.3);
       ">0</span> <span style="font-weight: 500;margin-left: -49px;text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
    ">4</span>
    </div>
             
             
            </div>
            <button  routerLink="/home" routerLinkActive="active">Home</button>
          </div>
         
          
      </div>
    </div>
    
    <div class="footer">
      All Rights Reserved | Design by What's <span style="color: #86c232;">Learn</span>, &copy; 2020 
      </div>
      </div>
    
    
    
    
    
    
    
    
    <!-----css------>
    
    