<div class="row edit">
  <div class="col-md-12">
    <div class="card card-user">

      <div class="card-body">
        <div class="author">

          <img class="avatar border-gray" src= "assets/img/uc.jpg" alt="...">
          <h5 class="title">{{Admin.Name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{Admin.Adress}}
          </li>
          <li class="list-group-item">

            {{Admin.Age}}

          </li>
          <li class="list-group-item">
            {{Admin.Email}}

          </li>
          <li class="list-group-item">

            {{Admin.Gender}}
          </li>
          <li class="list-group-item">

            {{Admin.Phone}}
          </li>
        </ul>

      </div>

      <a class="btn btn-default float-center" (click)="editadminprofile()"><i
          class="far fa-edit"></i></a>
      <!-- <a href="#" [routerLink]="'/adminlayout/editadminprofile'"><i class="far fa-edit"></i></a> -->
    </div>




  </div>

</div>