<div class="content">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-lg-6">
        <a class="cancel"> <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label for="fname">Edit Your Skill</label><br>
        <input [(ngModel)]="skill" type="search" class="form-control styleinput" id="inputsearch"
          placeholder="Add New Skill">
      </div>
    </div>

    <div class="col-lg-6">
      <button type="submit" class="btn btn-success">Save</button>
    </div>

  </form>
</div>