form
 {
     width:60%;
     height: 100%;
     margin:20px auto;
     /* border:1px solid #AAA; */
     padding: 15px;
     color: black;
     font-family: cursive !important;
     border-radius: 15px;
     background-color:hsl(240, 7.9%, 87.6%)
    ;
    box-shadow: 5px 5px 20px  gray  ;
 } 
 .btn
{
    background-color:  #222629;
    color: #86c232 !important; 
    border-radius: 20px;
    cursor: pointer;
}
.AddAdmin
{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color: #6b6e70 !important;
    font-family: cursive !important;
} 
#up
{
background-color: #e9ecef;
width: 67px;
padding: 1px;
padding-left: 1px;
text-align: center;
padding-left: 7px;
font-size: 14px;
cursor: pointer;


}
 label
 {
    color: #6b6e70 !important;
    font-family: cursive !important;
 }
 input
 {
     background-color: #f4f3ef; 
     box-shadow: 2px 2px 8px #acaca8 ;

 }
